@model ActorListViewModel

@using MovieManager.Services
@{
    ViewData["Title"] = @User.Identity.Name+" Actors";
    int counter = 0;
}

@section styles{
    <script src="~/js/scripts.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}
<head>
   	<link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/css/stylePlaylists.css" rel="stylesheet">
</head>

<h1 class="playlistTitle"> @User.Identity.Name's Liked Actors:</h1>

<div class="accordeon check">
    @if (Model.Actors != null)
    {
        @foreach(var actor in Model.Actors)
        {
            int counterPlus = counter+1;
            <label for="panel+@counter"> @counterPlus . @actor.FullName</label>
            <input id="panel+@counter" type="checkbox" />
            <div class="panel">
            <a href="/Movie/ActorCard/@actor.ActorId">                
                <button class="playlistButton"> Go to actor: @actor.FullName </button>
            </a>
            <div class="flex-container">
                <div class="flex-items"> 
                    <img class="actorPoster" style="height:600px !important" alt="Image" src="@actor.PhotoUrl"> 
                </div>

                <div class="flex-items"> 
                    <h2 class="actorBiography"> Biography: @actor.Overview </h2>
                     <h2 class="movieTitleText"> Country: @actor.CountryCode </h2>
                </div>    
            </div>
            </div>
            counter++;
        }
    }
    else
    {
        <h2>No Actors added to @User.Identity.Name's favorite actors list yet</h2>
    }
</div>