@model PlaylistsViewModel

@using MovieManager.Services
@using MovieManager.Data.DataModels
@{
    ViewData["Title"] = @User.Identity.Name+" Playlists";
    int counter = 0;
    string movieOrShowCard = "MovieCard";
    var qrList = Model.QRCodes;
}

@section styles{
	<link href="~/css/style.css" rel="stylesheet">
    <script src="~/js/scripts.js"></script>

	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/js/bootstrap.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/css/stylePlaylists.css" rel="stylesheet">
}


<h1 class="playlistTitle"> @User.Identity.Name's Playlists:</h1>

<div class="accordeon check">
    @foreach(var playlist in Model.Playlists)
    {
        int counterPlus = counter+1;
        var qr = qrList.Where(q => q.PlaylistId == playlist.PlaylistId).FirstOrDefault();
        <label for="panel+@counter"> @counterPlus . @playlist.PlaylistName</label>
        <input id="panel+@counter" type="checkbox" />
        <div class="panel">
        <div class="flex-container">
	    <div class="flex-items">
            @using (Html.BeginForm("MovieList", "Movie",
                new { playlistName = @playlist.PlaylistName }, FormMethod.Post))
            {
                <button class="playlistButton"> Go to playlist: @playlist.PlaylistName </button>
            }
            @foreach(var movie in playlist.Movies)
            {
                @if(movie.MediaType == "show"){ movieOrShowCard = "ShowCard"; }
				else{ movieOrShowCard = "MovieCard"; }
			    <a style="text-decoration: none" href="/Movie/@movieOrShowCard/@movie.MovieId">	
                    <h2 class="movieTitleText"> Title: @movie.Title - Id: @movie.MovieId  </h2>
                </a>
            }
            @using (Html.BeginForm("GenerateQRCodeButtonClick", "Button",
                new { playlistId = playlist.PlaylistId }, FormMethod.Post))
            {
                <button class="playlistButton"> Generate QR for : @playlist.PlaylistName </button>
            }
        </div>
	        <div class="flex-items">
                <img class="qrCodeContainer" src="data:image/png;base64, @qr.QrCodeImage">
            </div>
        </div>
        </div>
        counter++;
    }
</div>


<!--ADD form for adding a playlist: 
    Playlist name
    Public/Private
-->