@model PlaylistsViewModel

@using MovieManager.Services
@{
    ViewData["Title"] = @User.Identity.Name+" Playlists";
    int counter = 0;
}

@section styles{
	<link href="~/css/style.css" rel="stylesheet">
    <script src="~/js/scripts.js"></script>

	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/js/bootstrap.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/css/stylePlaylists.css" rel="stylesheet">
}



<div class="accordeon check">
    @foreach(var playlist in Model.Playlists)
    {
        int counterPlus = counter+1;
        <label for="panel+@counter"> @counterPlus . @playlist.PlaylistName</label>
        <input id="panel+@counter" type="checkbox" />
        <div class="panel">
            @using (Html.BeginForm("MovieList", "Movie",
                new { playlistName = @playlist.PlaylistName }, FormMethod.Post))
            {
                <button class="playlistButton"> Go to playlist: @playlist.PlaylistName </button>
            }
            @foreach(var movie in playlist.Movies)
            {
                <h2 class="movieTitleText"> Title: @movie.Title - Id: @movie.MovieId  </h2>
            }
        </div>
        counter++;
    }
</div>


<!--ADD form for adding a playlist: 
    Playlist name
    Public/Private
-->