@model PlaylistsViewModel

@using MovieManager.Services
@using MovieManager.Data.DataModels
@{
    ViewData["Title"] = @User.Identity.Name+" Playlists";
    int counter = 0;
    string movieOrShowCard = "MovieCard";
}
@section scripts{
    <script src="~/js/scripts.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/css/stylePlaylists.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>



<h1 class="playlistTitle"> @User.Identity.Name's Playlists:</h1>

<div class="accordeon check">
    @if (Model.Playlists != null)
    {
        @foreach (var playlist in Model.Playlists)
        {
            int counterPlus = counter + 1;
            if(@playlist.PlaylistMovies != null){
            <label for="panel+@counter"> 
                @counterPlus . @playlist.PlaylistName  -  @playlist.PlaylistMovies.Count movies.
            </label>
            }
            else
            {
            <label for="panel+@counter"> 
                @counterPlus . @playlist.PlaylistName  -  no movies added.
            </label> 
            }
            <input id="panel+@counter" type="checkbox" />
            <div class="panel">
                <div class="flex-container">
                    <div class="flex-items">
                        @using (Html.BeginForm("MovieList", "Movie",
                                  new { playlistName = @playlist.PlaylistName }, FormMethod.Post))
                        {
                            <button class="playlistButton" style="width:200px"> Go to playlist </button>
                        }
                        @foreach (var movie in playlist.Movies)
                        {
                            @if (movie.MediaType == "show") { movieOrShowCard = "ShowCard"; }
                            else { movieOrShowCard = "MovieCard"; }
                            <a style="text-decoration: none" href="/Movie/@movieOrShowCard/@movie.MovieId">	
                                <h2 class="movieTitleText"> Title: @movie.Title - Id: @movie.MovieId  </h2>
                            </a>
                        }
                        @using (Html.BeginForm("GenerateQRCodeButtonClick", "Button",
                                  new { playlistId = playlist.PlaylistId }, FormMethod.Post))
                        {
                            <button class="playlistButton" style="width:300px"> Generate QR code </button>
                        }
                    </div>
                    <div class="flex-items">
                        @if (Model.QRCodes[playlist.PlaylistId]!=null)
                        {
                            var image = Model.QRCodes[playlist.PlaylistId].QrCodeImage;
                            <img class="qrCodeContainer" src="data:image/png;base64, @image">
                        }
                    </div>
                </div>
            </div>
            counter++;
        }
    }
</div>


<h2 class="movieTitleText" style="font-size: 42px; text-transform: uppercase">Create Playlist</h2>
@using (Html.BeginForm("CreateCustomPlaylist", "Button", new {  }, FormMethod.Post))
{
    <h2 class="movieTitleText">Playlist Title: </h2>
    <input name="playlistTitle" type="text" style="width: 34%; margin-left: 33%;"/><br>
    <!--add isPublic dropdown?-->
	 <input class="playlistButton" type="submit" value="Create Playlist" style="margin-left: 30%;margin-top:6px; align-items:center"/>
}