@model PlaylistsViewModel
@{
    ViewData["Title"] = @User.Identity.Name+" Profile";
    int moviecount = 0;
    foreach(var playlist in Model.Playlists)
    {
        moviecount += playlist.Movies.Count();
    }
    var favs = Model.Playlists.Where(p => p.PlaylistName == "favorites").FirstOrDefault();
    int favscount = 0;
    if(favs != null)
    {
        foreach(var movie in favs.Movies)
        {
            favscount++;
        }
    }
    string movieOrShowCard = "MovieCard";
}
<head>
    <link href="~/css/style.css" rel="stylesheet">
	<link href="~/css/styleProfile.css" rel="stylesheet">
</head>



<h1>User: @User.Identity.Name</h1>

<main class="app">
    <a class="noUnderline" href="/Movie/Main">
        <div class="green block">
            <h1>Watchlist</h1>
        </div>
    </a>
    <a class="noUnderline" href="/Movie/Search">
        <div class="green block">
            <h1>Discover</h1>
        </div>
    </a>
    <div class="green block">
        <h1>
            <a class="noUnderline" href="/Home/Favorites">Favorites</a>
            <a class="noUnderline" href="/Home/Actors">Actors</a>
            <a class="noUnderline" href="/Home/Reviews">Reviews</a>
        </h1>
    </div>
</main>

<main class="app2">
    <div class="green block">
        <img class="profileImage" src="~/img/profile-pic.png" width="160" height="160">   
        <div class="desc">
            <h2 class="profileDesc">- has: @Model.Playlists.Count Playlists</h2>
            <h2 class="profileDesc">- has @moviecount movies in all lists</h2>
            <h2 class="profileDesc">- has @favscount liked movies.</h2>
            <h2 class="profileDesc">- has reviewed 6 movies.</h2>
        </div>
     </div>
    @if (User.IsInRole("Administrator"))
    {
        <a class="noUnderline" href="/Admin">
            <div class="green block"><h1>Admin Panel</h1></div>
        </a>
    }
</main>

<main class="app3">
    @foreach(var playlist in Model.Playlists)
    {
        <section class="horizontal">
            @foreach(var movie in playlist.Movies)
            {
                <div class="blue block"> 
                    @if (movie.MediaType == "show") { movieOrShowCard = "ShowCard"; }
                    else{ movieOrShowCard = "MovieCard"; }
                    <a class="noUnderline" href="/Movie/@movieOrShowCard/@movie.MovieId">
                    <h2 class="smallTitle"> @movie.Title   (@movie.MediaType)</h2>
                    <h2 class="smallList">List - @playlist.PlaylistName</h2>
                    </a>
                </div> 
            }
        </section>
     }
</main>  