@model ReviewListViewModel

@using MovieManager.Services
@{
    ViewData["Title"] = @User.Identity.Name+" Reviews";
    int counter = 0;
}
@section styles{
    <script src="~/js/scripts.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}
<head>
   	<link href="~/css/style.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/stylePlaylists.css" rel="stylesheet">
</head>



<h1 class="playlistTitle"> @User.Identity.Name's Reviews:</h1>

<div class="accordeon check">
    @if (Model.Reviews != null)
    {
    @foreach(var review in Model.Reviews)
    {
        int counterPlus = counter+1;
        <label for="panel+@counter"> @counterPlus . @review.MovieTitle - @review.ReviewTitle </label>
        <input id="panel+@counter" type="checkbox" />
        <div class="panel">
            <h1 class="movieTitleText"> Movie:  @review.MovieTitle   </h1>
            <h2 class="movieTitleText">  Review Title: @review.ReviewTitle   </h2>
            <h2 class="movieTitleText"> Content: @review.ReviewContent  </h2>
            <h2 class="movieTitleText"> Rating: @review.Rating  </h2>

        </div>
        counter++;
        }
    }
    else
    {
        <h2> @User.Identity.Name hasnt written any reviews yet.</h2>
    }
</div>
