@model ReviewListViewModel

@using MovieManager.Services
@{
    ViewData["Title"] = @User.Identity.Name+" Reviews";
    int counter = 0;
}

@section styles{
	<link href="~/css/style.css" rel="stylesheet">
    <script src="~/js/scripts.js"></script>

	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/js/bootstrap.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/css/stylePlaylists.css" rel="stylesheet">
}



<div class="accordeon check">
    @if (Model.Reviews != null)
    {
    @foreach(var review in Model.Reviews)
    {
        int counterPlus = counter+1;
        <label for="panel+@counter"> @counterPlus . @review.ReviewTitle </label>
        <input id="panel+@counter" type="checkbox" />
        <div class="panel">

            <h2 class="movieTitleText"> Title: @review.ReviewTitle   </h2>
            <h2 class="movieTitleText"> Content: @review.ReviewContent  </h2>
            <h2 class="movieTitleText"> Rating: @review.Rating  </h2>

        </div>
        counter++;
        }
    }
    else
    {
        <h2> @User.Identity.Name hasnt written any reviews yet.</h2>
    }

</div>