@model ActorViewModel

@using MovieManager.Services
@using MovieManager.Models
@{
	ViewData["Title"] = "Actor";
}
@section scripts{
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
}
<head>
	<link href="~/css/style.css" asp-append-version="true" rel="stylesheet">
	<link href="~/css/styleMovieCard.css" asp-append-version="true" rel="stylesheet">
	<link href="~/css/styleActor.css" asp-append-version="true" rel="stylesheet">
</head>
<div class="ActorCard" >
	<div class="flex-container">
	   <div class="flex-items">	
		    <a href="https://www.themoviedb.org/person/@Model.Person.Id">
				<img class="actorPoster" style="height:600px !important" alt="Image" src="@Model.PhotoUrl"> 
			</a>
		</div>
	   <div class="flex-items">
			<h2 class="movieTitle">	@Model.Person.Name </h2> <br/>
			<p class="actorBio"> @Model.Person.Biography  </p><br/>
			<p class="actorBirthplace">Born:  @Model.Person.PlaceOfBirth </p>

			@using (Html.BeginForm("FavoriteActorButtonClick", "Button",
				new { actorId = @Model.Person.Id },   FormMethod.Post)) 
			{
				<button class="FavButton" type="submit"> ❤ </button>
			}
		</div>
	</div>
</div>


<!--Movie Credits Column-->
<main class="resultsLeft" id="scrollBlackThin">
	<h1 class="info"> 
		<img src="~/img/watched icon2 dark.png" width="60" height="40">Roles
		<div class="hidden-info">Results</div>
	</h1>
	@foreach (var movie in Model.MovieCredits.Cast)
	{
		string posterUrl = "https://image.tmdb.org/t/p/w500"+@movie.PosterPath;
		<div class="movieContainer">
			<div class="flex-container">
				<a href="/Movie/MovieCard/@movie.Id">
				<div class="flex-items">	
					<img class="moviePoster" alt="Image" src="@posterUrl">
				</div>
				</a>

				<p class="roleTitle"> @movie.Title <br/><br/>Character: @movie.Character </p>
			</div>
		</div>
	}
</main>