@model MovieListViewModel
@using MovieManager.Services
@using MovieManager.Models.DataModels

@{
	ViewData["Title"] = "Profile Page";

	var userName = this.User.Identity.Name;

	var watched = Model.MoviesList;

	var current = Model.MoviesList2;

	var future = Model.MoviesList3;
}

@section styles{
	<link href="~/css/style.css" asp-append-version="true" rel="stylesheet">
	<link href="~/css/styleMovies.css" asp-append-version="true" rel="stylesheet">
	<link href="~/css/styleMovieContainer.css" asp-append-version="true" rel="stylesheet">

	<script src="~/js/home.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
}



<!--=====LOAD MOVIE COLUMNS=====-->
<main class="app" id="scrollBlackThin">
	@using (Html.BeginForm("MovieList", "Movie",
		new { playlistName = "watched" },FormMethod.Post)){
		<button class="emptyButton">
			<h1 class="info1"> 
				<img src="~/img/watched icon2 dark.png" width="60" height="40">Watched
				<div class="hidden-info1">Past</div>
			</h1>
		</button>
	}
	@foreach (var movie in watched)
	{
	<div class="movieContainer">
		<div class="flex-container">
		<div class="flex-items">
			<a href="/Movie/MovieCard/@movie.MovieId">
				<img class="moviePoster" alt="Image" src="@movie.PosterUrl"> 	
			</a>
		</div>
		<div class="flex-items">
			<h2 class="movieTitle"> @movie.Title </h2>
			<p class="movieRating"> <img class="IMDBStar" src="~/img/star.png"> @movie.Rating/10 - Rating</p>
			<p class="movieDesc"> @movie.Overview </p>
			<div class="buttonsList">
				
				@using (Html.BeginForm("ShowTrailerButtonClick", "Button")){
					<button class="TrailerButton" type="submit" name="addToButton">▶ Trailer</button>
				}
				@using (Html.BeginForm("RemoveWatchedButtonClick", "Button")){
					<button class="TrailerButton" type="submit" name="addToButton">Remove from Watched</button>
				}
				<!--add small remove button to all 3 cols, change remove from watched to write a review-->
			</div>
		</div>
		</div>
	</div>
	}
	<div class="movieContainer">	
		<a href="/Movie/Search">
		<img class="addMovie" src="~/img/movieAddOrange.png">
		</a>
	</div>
</main>


<main class="app2" id="scrollBlackThin">
	@using (Html.BeginForm("MovieList", "Movie",
		new { playlistName = "current" },FormMethod.Post)){
		<button class="emptyButton2">
			<h1 class="info2"> 
				<img src="~/img/current icon dark.png" width="40" height="40">Current
				<div class="hidden-info2">Present</div>
			</h1>
		</button>
	}
	@foreach (var movie in current)
	{
	<div class="movieContainer">
		<div class="flex-container">
		<div class="flex-items">	
			<a href="/Movie/MovieCard/@movie.MovieId">
				<img class="moviePoster" alt="Image" src="@movie.PosterUrl"> 	
			</a>
		</div>
		<div class="flex-items">
			<h2 class="movieTitle"> @movie.Title </h2>
			<p class="movieRating"> <img class="IMDBStar" src="~/img/star.png"> @movie.Rating/10 - Rating</p>
			<p class="movieDesc"> @movie.Overview </p>
			<div class="buttonsList">
				
				@using (Html.BeginForm("ShowTrailerButtonClick", "Button")){
					<button class="TrailerButton" type="submit" name="addToButton">▶   Trailer</button>
				}
				@using (Html.BeginForm("AddShowToPlaylistButtonClick", "Button",
							new { movieId = @movie.MovieId, playlistName = "watched" },FormMethod.Post))
				{
					<button class="TrailerButton" type="submit" name="addToButton"> Add To Watched</button>
				}

				<!--ADD PROGRESS BAR TO CURRENT MOVIE/SHOW-->
				<progress max="100" value="50" data-label="Watched: 50%"></progress> 
			</div>
		</div>
		</div>
	</div>
	}
	<div class="movieContainer"> 
		<a href="/Movie/Search">
		<img class="addMovie" src="~/img/movieAddOrange.png">
		</a>
	</div>
</main>


<main class="app3" id="scrollBlackThin">
	@using (Html.BeginForm("MovieList", "Movie",
		new { playlistName = "future" },FormMethod.Post)){
		<button class="emptyButton3">
			<h1 class="info3"> 
				<img src="~/img/watchlist1 dark.png" width="40" height="40">Watchlist
				<div class="hidden-info3">Future</div>
			</h1>	
		</button>
		}
	@foreach (var movie in future)
	{
	<div class="movieContainer">
		<div class="flex-container">
		<div class="flex-items">	
			<a href="/Movie/MovieCard/@movie.MovieId">
				<img class="moviePoster" alt="Image" src="@movie.PosterUrl"> 	
			</a>
		</div>
		<div class="flex-items">
			<h2 class="movieTitle"> @movie.Title </h2>
			<p class="movieRating"> <img class="IMDBStar" src="~/img/star.png"> @movie.Rating/10 - Rating</p>
			<p class="movieDesc"> @movie.Overview </p>
			<div class="buttonsList">

				@using (Html.BeginForm("ShowTrailerButtonClick", "Button")){
					<button class="TrailerButton" id="TrailerButton" type="submit" name="addToButton"> ▶   Trailer</button>
				}
				@using (Html.BeginForm("AddShowToPlaylistButtonClick", "Button",
							new { movieId = @movie.MovieId, playlistName = "watched" },   FormMethod.Post))
				{
					<button class="TrailerButton" type="submit" name="addToButton"> Add To Current</button>
				}

			</div>
		</div>
		</div>
	</div>
	}
	<div class="movieContainer">
		<a href="/Movie/Search">
		<img class="addMovie" src="~/img/movieAddOrange.png">
		</a>
	</div>
</main>

<div class="bgIndex"></div> 