@model MovieCardViewModel
@using MovieManager.Services
@using MovieManager.Models.DataModels
@{
	ViewData["Title"] = @Model.Movie.Title;
	// maybe? REVIEWS

	var movie = Model.Movie;

	string posterMovieUrl = "https://image.tmdb.org/t/p/w500"+@movie.PosterPath;	
}
@section styles{
	<link href="~/css/style.css" asp-append-version="true" rel="stylesheet">
	<link href="~/css/styleMovieCard.css" asp-append-version="true" rel="stylesheet">
	<link href="~/css/styleActor.css" asp-append-version="true" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
}


<div class="MovieCard" >
	<div class="flex-container">
	   <div class="flex-items">	
		    <a href="https://www.themoviedb.org/movie/@movie.Id">
				<img class="moviePosterBig" alt="Image" src="@posterMovieUrl"> 	
			</a>
		   <!--onclick -> tmdb Id-->
		</div>
	   <div class="flex-items">
		<h2 class="movieTitle">	@movie.Title </h2>

		<p class="movieRating"> <img class="IMDBStar" src="~/img/star.png"> @movie.VoteAverage/10 - Rating</p>
		<p class="movieDate">  @movie.ReleaseDate</p>
		<p class="movieDesc"> @movie.Overview </p>

		<ul class="genreContainer genreItem">
		@foreach(var genre in movie.Genres)
		{
			<li> @genre.Name</li>
		}
		<li> @movie.Runtime min</li>
		<li> lang: @movie.OriginalLanguage</li>
		</ul>

		<div class="buttonsList">
			<input class="TrailerButton" id="TrailerButton" type="button" value="▶ Trailer" onclick=""><br/>
			<input class="TrailerButton" id="TrailerButton" type="button" value="Add to Watched Movies" onclick=""><br/>
			<input class="TrailerButton" id="TrailerButton" type="button" value="Add to Current Movies" onclick=""><br/>
			<input class="TrailerButton" id="TrailerButton" type="button" value="Add to Watchlist" onclick=""><br/>
		</div>
		</div>
	</div>
</div>


<!--Actor movie Credits Column-->
<main class="resultsLeft" id="scrollBlackThin">
	<h1 class="info"> 
		<img src="~/img/watched icon2 dark.png" width="60" height="40">Actors
		<div class="hidden-info">Results</div>
	</h1>
	@foreach (var actor in Model.MovieActorsList)
	{
		string posterUrl = "https://image.tmdb.org/t/p/w500"+@actor.ProfilePath;
		<div class="movieContainer">
			<div class="flex-container">
				<a href="/Movie/ActorCard/@actor.Id">
				<div class="flex-items">	
					<img class="moviePoster" alt="Image" src="@posterUrl">
				</div>
				</a>
				
				<p class="roleTitle"> @actor.Name <br/><br/>Character: @actor.Character </p>
			</div>
		</div>
		}
	}
</main>