@model MovieListViewModel
@using System.Linq
@using System
@{
	ViewData["Title"] = "Playlist";
	var movieList = Model.MoviesList;
	var listName = Model.MoviesListName;
	string movieOrShowCard = "MovieCard";
	TrailerViewModel trailerModel = new TrailerViewModel();
}
@section scripts{
	<script src="~/js/releaseGrid.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}
<head>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"  />
	<link href="~/css/style.css" asp-append-version="true"  rel="stylesheet">
	<link href="~/css/styleMovieContainer.css" asp-append-version="true" rel="stylesheet">
	<link href="~/css/styleDiscover.css" asp-append-version="true" rel="stylesheet">
</head>



<div class="buttonsGridList mb-3 mt-3">
	<div class="btn-holder">
		<button class="btn btn-2 hover-slide-down">
			<span>Grid</span>
		  </button>
		  <button class="btn btn-2 hover-slide-up">
			<span>List</span>
		</button>
	</div>
</div>

<h1 class="playlistTitle">Playlist: @listName</h1>

<div class="grid-container ContainerListScroll scrollbar scrollbar-black bordered-black square thin"style="height: 750px;">
<div class="row">
	@foreach (var movie in movieList)
	{
		var year = movie.ReleaseDate.Value.Year;
		trailerModel.TrailerKey = movie.TrailerLink;
		trailerModel.TrailerId = movie.MovieId;
	<div class="col-12 col-md-6 col-lg-4">
	<div class="card">
		<div class="movieContainer">
			<div class="flex-container leftCol">
				<div class="flex-items">	
					@if(movie.MediaType == "show"){ movieOrShowCard = "ShowCard"; }
						else{ movieOrShowCard = "MovieCard"; }
					<a href="/Movie/@movieOrShowCard/@movie.MovieId">
						<img class="moviePoster" alt="Image" src="@movie.PosterUrl"> 
					</a>
					@using (Html.BeginForm("FavoriteMovieButtonClickList", "Button",
						new { movieId = @movie.MovieId, playlistName = "watched" },   FormMethod.Post)) 
					{
						<button class="FavButtonList" type="submit"> ❤ </button>
					}
					@using (Html.BeginForm("RemoveMovieButtonClickList", "Button",
						new { movieId = @movie.MovieId, playlistName = listName },  FormMethod.Post)) 
					{
						<button class="RemoveButtonList" type="submit"> X </button>
					}
				</div>
				<div class="flex-itemsRight">
					<h2 class="movieTitle"> @movie.Title (@year)</h2>
					<p class="movieRating" style="height:30px;"> Rating - @movie.Rating/10</p>
					<p class="movieDesc"> @movie.Overview </p>
					<div class="buttonsList">
						@await Html.PartialAsync("_TrailerPartial", trailerModel)
						<a href="/Movie/Review/@movie.MovieId">
							<button class="TrailerButton">Rate & Review</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	}	  
</div>
</div>