@model MovieCardViewModel
@using MovieManager.Services
@using MovieManager.Models.DataModels
@{
	ViewData["Title"] = "Review";
	var movieObj = Model.Movie;
	string posterMovieUrl = "https://image.tmdb.org/t/p/w500"+@movieObj.PosterPath;	
}
@section styles{
	<link href="~/css/style.css" asp-append-version="true" rel="stylesheet">
	<link href="~/css/styleReview.css" asp-append-version="true" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
}

<div class="MovieCard" >
	<div class="flex-container">
	   <div class="flex-items">	
		   <img class="moviePoster" alt="Image" src="@posterMovieUrl"> 	
		</div>
		<!--Movie Data-->
	   <div class="flex-items">
		<h2 class="movieTitle">	Write a review of: @movieObj.Title </h2>
		<p class="movieRating"> <img class="IMDBStar" src="~/img/star.png"> @movieObj.VoteAverage/10 - Rating <p class="movieDesc"> @movieObj.ReleaseDate </p></p>
		
		<textarea name="Text1" cols="60" rows="15"></textarea>

		<div class="buttonsList">
			<input class="TrailerButton" id="TrailerButton" type="button" value="▶ Rating" onclick=""><br/>
			<input class="TrailerButton" id="TrailerButton" type="button" value="Post Review" onclick=""><br/>
		</div>
		</div>
	</div>
</div>


@foreach(var review in @movieObj.Reviews.Results)
{
	<h2> Author: @review.Author </h2>
	<p> Review: @review.Content </p>
}
