@model SearchResultViewModel
@{
	ViewData["Title"] = "Search Results";
}
@section scripts{
	<script src="~/js/home.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
}
<head>
	<link href="~/css/style.css" asp-append-version="true" rel="stylesheet">
	<link href="~/css/styleMovies.css" asp-append-version="true" rel="stylesheet">
	<link href="~/css/styleMovieContainer.css" asp-append-version="true" rel="stylesheet">
</head>



<div class="bgIndex"></div>  
<h1 class="resultsLabel"> Results for:</h1>
<h1 class="resultsTerm"> @Model.SearchTerm </h1>
<h1 class="resultsTerm2"> @Model.SearchTerm </h1>


<!--=====LOAD MOVIE COLUMNS=====-->
<main class="resultsLeft" id="scrollBlackThin">
	<h1 class="infoLeft"> 
		<img src="~/img/watched icon2 dark.png" width="60" height="40">Movies
		<div class="hidden-infoLeft">Results</div>
	</h1>
	@if(Model.ResultMovieList != null)
	{
		@foreach (var movie in Model.ResultMovieList)
		{
			if (movie != null)
			{
				<div class="movieContainer">
					<div class="flex-container">
						<div class="flex-items">	
							<a href="/Movie/MovieCard/@movie.MovieId">
								<img class="moviePoster" alt="Image" src="@movie.PosterUrl"> 
							</a>
						</div>
						<div class="flex-items">
							<h2 class="movieTitle"> @movie.Title </h2>
							<p class="movieRating"> <img class="IMDBStar" src="~/img/star.png"> @movie.Rating/10 - Rating</p>
							<p class="movieDescSearchRes"> @movie.Overview </p>
							<div class="buttonsList">
								@using (Html.BeginForm("AddMovieToPlaylistButtonClickSearch", "Button",
											new { movieId = @movie.MovieId,searchTerm = @Model.SearchTerm, playlistName = "watched" },   FormMethod.Post)) 
								{
									<button class="TrailerButton" type="submit" name="addToButton"> Add To Watched</button>
								}
								@using (Html.BeginForm("AddMovieToPlaylistButtonClickSearch", "Button",
											new { movieId = @movie.MovieId, playlistName = "current" },   FormMethod.Post)) 
								{
									<button class="TrailerButton" type="submit" name="addToButton"> Add To Current</button>
								}
								@using (Html.BeginForm("AddMovieToPlaylistButtonClickSearch", "Button",
											new { movieId = @movie.MovieId, playlistName = "future" },   FormMethod.Post)) 
								{
									<button class="TrailerButton" type="submit" name="addToButton"> Add To Future</button>
								}
							</div>
						</div>
					</div>
				</div>
			}
		}
	}
</main>


<main class="resultsRight" id="scrollBlackThin">
	<h1 class="infoRight"> 
		<img src="~/img/watchlist1 dark.png" width="40" height="40">Shows
		<div class="hidden-infoRight">Results</div>
	</h1>	
	@if (Model.ResultShowList != null)
	{
		@foreach (var movie in Model.ResultShowList)
		{
			if (movie != null)
			{
				<div class="movieContainer">
					<div class="flex-container">
						<div class="flex-items">
							<a href="/Movie/ShowCard/@movie.MovieId">
								<img class="moviePoster" alt="Image" src="@movie.PosterUrl"> 	
							</a>
						</div>
						<div class="flex-items">
							<h2 class="movieTitle"> @movie.Title </h2>
							<p class="movieRating"> <img class="IMDBStar" src="~/img/star.png"> @movie.Rating/10 - Rating</p>
							<p class="movieDescSearchRes"> @movie.Overview </p>
							<div class="buttonsList">
								@using (Html.BeginForm("AddShowToPlaylistButtonClickSearch", "Button",
											new { movieId = @movie.MovieId, playlistName = "watched" }, FormMethod.Post))
								{
									<button class="TrailerButton" type="submit" name="addToButton"> Add To Watched</button>
								}
								@using (Html.BeginForm("AddShowToPlaylistButtonClickSearch", "Button",
											new { movieId = @movie.MovieId, playlistName = "current" }, FormMethod.Post))
								{
									<button class="TrailerButton" type="submit" name="addToButton"> Add To Current</button>
								}
								@using (Html.BeginForm("AddShowToPlaylistButtonClickSearch", "Button",
											new { movieId = @movie.MovieId, playlistName = "future" }, FormMethod.Post))
								{
									<button class="TrailerButton" type="submit" name="addToButton"> Add To Future</button>
								}
							</div>
						</div>
					</div>
				</div>
			}
		}
	}
</main>