@model ShowCardViewModel
@using MovieManager.Services
@using MovieManager.Models
@using System.Linq
@using System
@using System.Globalization;
@{
	ViewData["Title"] = "Show Review";
	var showObj = Model.Show;
	string posterMovieUrl = "https://image.tmdb.org/t/p/w500"+showObj.PosterPath;	
	var year = showObj.FirstAirDate.Value.Year;
}
@section scripts{
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
}
<head>
	<link href="~/css/style.css" asp-append-version="true" rel="stylesheet">
	<link href="~/css/styleReview.css" asp-append-version="true" rel="stylesheet">
</head>



<div class="MovieCard">
	<div class="flex-container">
	   <div class="flex-items">	
		   <a href="/Movie/MovieCard/@showObj.Id">
				<img class="moviePoster" alt="Image" src="@posterMovieUrl"> 	
		   </a>
		</div>
		<!--Show Data-->
		@if (User.Identity.IsAuthenticated)
		{
			<div class="flex-items">
				<h2 class="movieTitle">	Write a review of: </h2>
				<h2 class="movieTitle">	@showObj.Name  (@year)</h2>
				<p class="movieRating"> <img class="IMDBStar" src="~/img/star.png"> @showObj.VoteAverage/10 - Rating</p>

				@using (Html.BeginForm("AddReviewToUsersReviews", "Button", new {  }, FormMethod.Post))
				{
					<h2 class="movieDesc" style="margin:0; padding:0">Review Title</h2>
					<input name="ReviewTitle" type="text" style="margin: 0 auto; padding:0" class="center-block"/>

					<h2 class="movieDesc" style="margin:0; padding:0">Review Content</h2>
					<textarea name="ReviewContent" type="text" rows="10" cols="50" style="margin: 0 auto; padding:0" class="center-block"> </textarea>

					<h2 class="movieDesc" style="margin:0; padding:0"> <img class="IMDBStar" src="~/img/star.png"> Rating <img class="IMDBStar" src="~/img/star.png"></h2>
					<input name="Rating" type="number" style="margin: 0 auto; padding:0" class="center-block"/>

					<!--Hidden binding for Movie Data-->
					<input name="MovieId" value="@showObj.Id" type="hidden"/>
					<input name="MovieTitle" value="@showObj.Name" type="hidden"/>

					<input class="TrailerButton" type="submit" value="Post Review" style="margin-top: 20px;"/>
				}
			</div>
		}
		else
		{
			<div class="flex-items">
			<h2 class="movieTitle">	@showObj.Name </h2>
			<p class="movieRating"> <img class="IMDBStar" src="~/img/star.png"> @showObj.VoteAverage/10 - Rating <p class="movieDesc"> @showObj.FirstAirDate </p>
			<p class="movieDesc"> @showObj.Overview </p>
			</div>
		}
	</div>
</div>


<div class="ReviewsContainer">
	@foreach(var review in Model.Reviews){
		<h2 class="ReviewAuthor">Author: @review.Author</h2>
		<p class="ReviewContent">Review: @review.Content</p>
	}

</div>