@model MovieDiscoverViewModel
@{
	ViewData["Title"] = "Releases";

	var releasedMovieList = Model.DiscoverMovies;
}
@section scripts{
	<script src="~/js/home.js"></script>
	<script src="~/js/releaseGrid.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}
<head>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/css/style.css" asp-append-version="true"  rel="stylesheet">
	<link href="~/css/styleMovieContainer.css" asp-append-version="true" rel="stylesheet">
	<link href="~/css/styleDiscover.css" asp-append-version="true" rel="stylesheet">
</head>



<div class="container mb-3 mt-3"">
	<div class="btn-holder">
		<button class="btn btn-2 hover-slide-down">
			<span>Grid</span>
		  </button>
		  <button class="btn btn-2 hover-slide-up">
			<span>List</span>
		</button>
	</div>
</div>

<div class="grid-container ContainerListScroll scrollbar scrollbar-black bordered-black square thin"style="height: 750px;">
<div class="row">
	@foreach (var movie in releasedMovieList)
	{
	string posterUrl = "https://image.tmdb.org/t/p/w500" + @movie.PosterPath;
	<div class="col-12 col-md-6 col-lg-4">
	<div class="card">
		<div class="movieContainer">
			<div class="flex-container">
				<div class="flex-items leftCol">	
					<a href="/Movie/MovieCard/@movie.Id">
						<img class="moviePoster" alt="Image" src="@posterUrl"> 
					</a>
				</div>
				<div class="flex-items">
					<h2 class="movieTitle"> @movie.Title </h2>
					<p class="movieRating"> Rating - @movie.VoteAverage/10</p>
					<p class="movieDesc"> @movie.Overview </p>
					<div class="buttonsList">
					@using (Html.BeginForm("AddMovieToPlaylistButtonClick", "Button",
						new { movieId = @movie.Id, playlistName = "watched" },   FormMethod.Post)) //this is a db movie
					{
						<button class="TrailerButton" type="submit" name="addToButton"> Add To Watched</button>
					}
					@using (Html.BeginForm("AddMovieToPlaylistButtonClick", "Button",
						new { movieId = @movie.Id, playlistName = "current" },   FormMethod.Post)) //this is a db movie
					{
						<button class="TrailerButton" type="submit" name="addToButton"> Add To Current</button>
					}
					@using (Html.BeginForm("AddMovieToPlaylistButtonClick", "Button",
						new { movieId = @movie.Id, playlistName = "future" },   FormMethod.Post)) //this is a db movie
					{
						<button class="TrailerButton" type="submit" name="addToButton"> Add To Future</button>
					}
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	}	  
</div>
</div>