@model MovieDiscoverViewModel
@{
	ViewData["Title"] = "Discover Shows";
	var discoverShowList = Model.DiscoverShows;
	int counter = 1;
}
<head>
	<link href="~/css/style.css" asp-append-version="true" rel="stylesheet">
	<link href="~/css/styleCarousel.css" asp-append-version="true" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="~/style.css"> 
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>



<input type="radio" name="slide-nav" id="1">
<input type="radio" name="slide-nav" id="2">
<input type="radio" name="slide-nav" id="3">
<input type="radio" name="slide-nav" id="4" checked>
<input type="radio" name="slide-nav" id="5">
<input type="radio" name="slide-nav" id="6">
<input type="radio" name="slide-nav" id="7">

<h1>POPULAR SHOWS: </h1>

<ul class="carousel">
	@foreach(var movie in discoverShowList)
	{
		string posterUrl = "https://image.tmdb.org/t/p/w500" + @movie.PosterPath;
		<label for="@counter">
			<div class="movieContainer">
				<div class="flex-container">
				<div class="flex-items">
					<img class="moviePosterDiscover" alt="Image" src="@posterUrl"> 	
				</div>
				<div class="flex-items">
					<a href="/Movie/ShowCard/@movie.Id" style="text-decoration:none !important">  
					<h2 class="movieTitleDiscover"> @movie.Name </h2>
					</a>

					<p class="movieRatingDiscover"> <img class="IMDBStar" src="~/img/star.png"> @movie.VoteAverage/10 - Rating</p>
					<p class="movieDescDiscover"> @movie.Overview </p>
				</div>
				</div>
			</div>
		</label>
		counter++;
	}
</ul>

<ul class="carousel-nav"> <!--dots below cards-->
  <label for="1"></label>
  <label for="2"></label>
  <label for="3"></label>
  <label for="4"></label>
  <label for="5"></label>
  <label for="6"></label>
  <label for="7"></label>
</ul>